:root {
    --text-color: #1C170D;
    --button-color: #DE9921;
    --body-color: #FAFAF7;
    --search-text-color: #947D4F;
    --search-color: #F2F0E8;
    --navbar-color: #E5E8EB;
    --price-color: #947D4F;
}

/* Стили для всего сайта */

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--body-color);
}

/* Стили для шапки сайта */

.navbar, .navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--body-color);
    border-bottom: 1px solid var(--search-text-color);
    margin-bottom: 20px;
    box-sizing: border-box;
}

.navbar-item .arrow {
    display: none;
}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    align-items: center;
    margin-left: 40px;
}

.logo img {
    width: 86px;
    height: 86px;
    font-weight: bold;
}

.search, .search-item {
    display: flex;
    align-items: center;
    margin-left: 32px;
    background: var(--search-color);
    width: 260px;
    height: 40px;
    border-radius: 16px;
    color: var(--search-text-color);
}

.search img, .search-item img {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.search input[type="text"], .search-item input[type="text"]{
    width: 192px;
    height: 24px;
    border: none;
    background: var(--search-color);
    color: var(--search-text-color);
    outline: none;
}

.search input[type="text"]::placeholder .search-item input[type="text"]::placeholder {
    color: var(--search-text-color);
    font-size: 16px;
}

.sign-up-mobile {
    display: none;
}

.sign-up, .sign-up-mobile  {
    margin-right: 40px;
}

.sign-up button, .sign-up-mobile button {
    background-color: var(--search-color);
    color: var(--text-color);
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.sign-up a, .sign-up-mobile a {
    text-decoration: none;
    color: var(--text-color);
}

.sign-up button:hover, .sign-up-mobile:hover {
    background-color: var(--button-color);
}


/* Стили для основного контейнера */

.main-container {
    margin-left: 160px;
    margin-right: 160px;
}

.all-products {
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    margin-top: 10px;
}

.product-card {
    border-radius: 5px;
    text-align: start;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.product-card p {
    font-size: 16px;
    color: var(--text-color);
    margin-top: 12px;
}

.product-card .price {
    color: var(--price-color);
    margin-bottom: 40px;
}

.pagination {
    clear: both;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.pagination a {
    cursor: pointer;
    padding: 16px 20px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
}

.pagination img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

.pagination .active {
    background-color: var(--search-color);
    font-weight: bold;
    border-radius: 50%;
}

/* Стили для блока с информацией о товаре */

.breadcrumbs span, .breadcrumbs a {
    margin: 20px 0;
    font-size: 16px;
    color: #96824F;
    text-decoration: none;
}

.breadcrumbs {
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 20px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.product-details {
    display: flex;
    margin-bottom: 40px;
}

.product-image {
    flex: 1;
}

.product-image img {
    width: 80%;
    height: auto;
    border-radius: 12px;
}

.product-info {
    flex: 1;
    padding: 0 20px;
}

.product-info h2 {
    font-size: 24px;
    margin-top: 0;
}

.product-info h1 {
    font-size: 32px;
    margin-top: 0;
}

.product-info .price {
    font-size: 24px;
    color: var(--price-color);
}


/* Стили для блока с похожими товарами */
.related-products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 16px;
}

.related-products p {
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
}

.related-products .product-card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.related-products .product-card img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.related-products .product-card p {
    margin-top: 8px;
}

.related-products .product-card .price {
    color: var(--price-color);
}

.sign-in-container {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.sign-in-container h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
    text-align: center;
}

.input-container label {
    display: grid;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: left;
    font-size: 16px;
}

.input-field {
    background-color: var(--body-color);
    width: 480px;
    height: 36px;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

.input-container input::placeholder {
    color: #96824F;
}

/* Adjust the position of the "Forgot password?" link */
.forgot-password {
    text-align: left;
    color: #96824F;
    margin-top: 16px;
    font-size: 16px;
    text-decoration: none;
}

.forgot-password a {
    text-decoration: none;
    color: #96824F;
}

.sign-in-btn, .sign-up-btn {
    background-color: #DE9921;
    color: var(--text-color);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.sign-up-btn {
    background-color: var(--search-color);
    color: var(--text-color);
}

.sign-up-btn:hover {
    background-color: var(--button-color);
    transition: background-color 0.3s ease;
}

.sign-in-btn:hover {
    background-color: var(--search-color);
    transition: background-color 0.3s ease;
}

.no-account {
    color: #96824F;
    font-size: 16px
}

/*Successful Page*/

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.center-content img {
    width: 480px;
    height: 218px;
}

.center-content .mobile-picture {
    display: none;
}

.center-content h2 {
    font-size: 28px;
    font-weight: bold;
}

.mobile-title {
    display: none;
}

.center-content .text {
    font-size: 16px;
    display: inline-block;
    text-align: center;
}

.mobile-text {
    display: none;
}

.resend-btn {
    background-color: #DE9921;
    color: var(--text-color);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    width: 480px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

.open-email-btn {
    display: none;
}

/*Contact Us Page*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 12px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    margin-top: 12px;
}

.form-group textarea,
.email {
    width: 580px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 16px;
    background-color: transparent;
}

.form-group textarea {
    height: 144px;
}

.email {
    height: 36px;
}

.form-group select {
    width: 600px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-top: 16px;
    background-color: transparent;
}

textarea {
    resize: none;
}

.char-count {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.submit {
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit:hover {
    background-color: var(--search-color);
}


@media (max-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 940px) {
    .logo {
        display: flex;
        align-items: center;
        margin-left: 0;
        flex-direction: column;
    }

    .search, .search-item {
        margin: 10px auto 20px auto;
        width: 500px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .sign-up {
        display: none;
    }

    .navbar .sign-up-mobile {
        display: block;
        margin-top: 10px;
    }

    .main-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-item {
        display: none;
    }

    .breadcrumbs {
        display: none;
    }

    .navbar-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-item .logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin-right: 20px;
    }

    .navbar-item .arrow {
        display: block;
    }

    .navbar-item .back-arrow {
        margin-left: 30px;
        width: 24px;
        height: 24px;
        font-weight: bold;
        margin-top: 21px;
    }

    .product-details {
        flex-direction: column;
    }

    .product-image img {
        width: 100%;
    }

    .product-info {
        padding: 20px;
    }

    .product-info h2 {
        font-size: 18px;
    }

    .product-info h1 {
        font-size: 22px;
    }

    .product-info .price {
        font-size: 16px;
    }

    .navbar-item .sign-up {
        display: none;
    }
}

@media (max-width: 540px) {
    /*Success Page*/

    .center-content {
        margin-top: 10px;
    }

    .center-content img {
        width: 358px;
        height: 457px;
        border-radius: 12px;
    }

    .center-content .mobile-picture {
        display: block;
    }

    .center-content .web-picture {
        display: none;
    }

    .center-content h2 {
        font-size: 24px;
    }

    .center-content .text {
        font-size: 14px;
    }

    .resend-btn, .open-email-btn {
        width: 320px;
        margin-top: 10px;
    }

    .open-email-btn {
        display: block;
        background-color: var(--search-color);
        color: var(--text-color);
        border: none;
        border-radius: 12px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        font-weight: bold;
    }

    .web-title {
        display: none;
    }

    .mobile-title {
        display: block;
    }

    .mobile-text {
        display: block;
    }

    .web-text {
        display: none;
    }

    /*Contact Us Page*/

    .form-group textarea,
    .email {
        width: 428px;
    }

    .form-group select {
        width: 448px;
    }

    .submit {
        width: 448px;
    }

    .checkbox-label {
        word-wrap: break-word;
        font-size: 14px;
    }

}

@media (min-width: 320px) and (max-width: 375px){
    .input-field {
        width: 280px;
    }

    /*Success Page*/

    .center-content img {
        width: 308px;
    }

    .resend-btn, .open-email-btn {
        width: 310px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*Contact Us Page*/

    .form-group textarea,
    .email {
        width: 288px;
    }

    .form-group select {
        width: 308px;
    }

    .submit {
        width: 308px;
    }

    .checkbox-label {
        word-wrap: break-word;
        font-size: 11px;
    }
}

@media (min-width: 375px) and (max-width: 425px){
    .input-field {
        width: 340px;
    }

    /*Contact Us Page*/

    .form-group textarea,
    .email {
        width: 348px;
    }

    .form-group select {
        width: 368px;
    }

    .submit {
        width: 368px;
    }

    .checkbox-label {
        word-wrap: break-word;
        font-size: 14px;
    }

}

@media (min-width: 260px) and (max-width: 319px){
    .input-field {
        width: 244px;
    }

    /*Success Page*/

    .center-content img {
        width: 268px;
    }

    .resend-btn, .open-email-btn {
        width: 268px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*Contact Us Page*/

    .form-group textarea,
    .email {
        width: 238px;
    }

    .form-group select {
        width: 258px;
    }

    .submit {
        width: 258px;
    }

    .checkbox-label {
       max-width: 258px;
       word-wrap: break-word;
       font-size: 11px;
    }
}

@media (max-width: 440px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .search {
        margin: 0 auto 5px auto;
        width: 260px;
    }
}








