:root {
    --text-color: #1C170D;
    --button-color: #DE9921;
    --body-color: #FAFAF7;
    --search-text-color: #947D4F;
    --search-color: #F2F0E8;
    --navbar-color: #E5E8EB;
    --price-color: #947D4F;
}

/* Стили для всего сайта */

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--body-color);
}

/* Стили для шапки сайта */

.navbar, .navbar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--body-color);
    border-bottom: 1px solid var(--search-text-color);
    margin-bottom: 20px;

}

.logo {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
    align-items: center;
    margin-left: 40px;
}

.logo-img-text {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.logo-img-text img {
    margin-top: 21px;
}


.logo img {
    margin-right: 16px;
    width: 16px;
    height: 16px;
    font-weight: bold;
}

.search, .search-item {
    display: flex;
    align-items: center;
    margin-left: 32px;
    background: var(--search-color);
    width: 260px;
    height: 40px;
    border-radius: 16px;
    color: var(--search-text-color);
}

.search img, .search-item img {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

.search input[type="text"], .search-item input[type="text"]{
    width: 192px;
    height: 24px;
    border: none;
    background: var(--search-color);
    color: var(--search-text-color);
    outline: none;
}

.search input[type="text"]::placeholder .search-item input[type="text"]::placeholder {
    color: var(--search-text-color);
    font-size: 16px;
}

/* Стили для основного контейнера */

.main-container {
    margin-left: 160px;
    margin-right: 160px;
}

/* Стили для блока "Deals of the Day" */

.deals-of-the-day {
    color: var(--text-color);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
}

.deal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 320px;
}

.deal-image {
    width: 496px;
    height: 279px;
}

.deal-text {
    width: 50%;
    text-align: center;
}

.deal-text p {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-left: 400px;
}

.shop-now-button {
    display: block;
    background-color: var(--button-color);
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin-left: 400px;
    font-size: 16px;
    font-weight: bold;
}

.category {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}
.category-list {
    display: flex;
    margin-top: 10px;
}
.category-item {
    margin-right: 16px;
    background-color: var(--search-color);
    text-align: center;
    border-radius: 12px;
    padding: 12px;
    font-size: 14px;
    font-weight: bolder;
}

.all-products {
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    margin-top: 10px;
}

.product-card {
    border-radius: 5px;
    text-align: start;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}

.product-card p {
    font-size: 16px;
    color: var(--text-color);
    margin-top: 12px;
}

.product-card .price {
    color: var(--price-color);
    margin-bottom: 40px;
}

.pagination {
    clear: both;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.pagination a {
    cursor: pointer;
    padding: 16px 20px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
}

.pagination img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

.pagination .active {
    background-color: var(--search-color);
    font-weight: bold;
    border-radius: 50%;
}

/* Стили для блока с информацией о товаре */

.breadcrumbs span, .breadcrumbs a {
    margin: 20px 0;
    font-size: 16px;
    color: #96824F;
    text-decoration: none;
}

.breadcrumbs {
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 20px;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.product-details {
    display: flex;
    margin-bottom: 40px;
}

.product-image {
    flex: 1;
}

.product-image img {
    width: 80%;
    height: auto;
    border-radius: 12px;
}

.product-info {
    flex: 1;
    padding: 0 20px;
}

.product-info h2 {
    font-size: 24px;
    margin-top: 0;
}

.product-info h1 {
    font-size: 32px;
    margin-top: 0;
}

.product-info .price {
    font-size: 24px;
    color: var(--price-color);
}


/* Стили для блока с похожими товарами */
.related-products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 16px;
}

.related-products p {
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
}

.related-products .product-card {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.related-products .product-card img {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.related-products .product-card p {
    margin-top: 8px;
}

.related-products .product-card .price {
    color: var(--price-color);
}



@media (max-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 941px) {
    .navbar-item .back-arrow {
        display: none;
    }
}

@media (max-width: 940px) {
    .logo {
        display: flex;
        align-items: center;
        margin-left: 0;
        flex-direction: column;
    }

    .logo-img-text {
        display: flex;
        flex-direction: row;
    }

    .logo-img-text img {
        margin-right: 0;
        margin-top: 21px;
    }

    .search, .search-item {
        margin: 10px auto 20px auto;
        width: 500px;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .main-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 940px){
    .search-item {
        display: none;
    }

    .breadcrumbs {
        display: none;
    }

    .navbar-item {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-item .logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .navbar-item .back-arrow {
        margin-left: 30px;
        width: 24px;
        height: 24px;
        font-weight: bold;
        margin-top: 21px;
    }

    .navbar-item .logo-img-text {
        margin-top: 21px;
        justify-content: center;
    }
    .product-details {
        flex-direction: column;
    }

    .product-image img {
        width: 100%;
    }

    .product-info {
        padding: 20px;
    }

    .product-info h2 {
        font-size: 18px;
    }

    .product-info h1 {
        font-size: 22px;
    }

    .product-info .price {
        font-size: 16px;
    }
}


@media (max-width: 440px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .search {
        margin: 0 auto 5px auto;
        width: 260px;
    }
}








